.btn {
    border: none;
    border-radius: 1.5em;
    padding: 1em 0;
    background-color:  hsl(224, 30%, 27%);
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-image: var(--gradient);
}