@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    box-shadow: 3px 19px 20px 10px rgba(27, 24, 209, 0.071)
  }

  body {
    height: 100vh;
    display: grid;
    place-content: center;
  }
}
